<div ng-controller="Skybrud.Umbraco.ContextMenu.Media.DownloadMediaFolderController">
    <div class="umb-dialog-body" ng-cloak>
        <div class="umb-pane">
            <h3>Download: {{currentNode.name}}</h3>
            
            
            <input type="checkbox" id="recursive" ng-model="recursive" ng-checked="recursive" /> <label for="recursive" style="display: inline">Medtag undermapper</label>
            
            
            
          
        </div>
    </div>
    
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-hide="success">
        <a class="btn btn-link" ng-click="nav.hideDialog()"><localize key="general_cancel">Cancel</localize></a>
        <!--<button class="btn btn-primary" ng-click="download()"><localize key="actions_move">Download</localize></button>-->
        <button class="btn btn-primary" ng-click="download()">Download</button>
    </div>
</div>